<table width="100%" cellspacing="1" class="outer">
<tr>
<th><{$imp_title}></th>
</tr>
<tr>
<td class="odd" style="text-align:left;"><{$imp_historias}></td>
</tr>
</table>
<body bgcolor=FFFBE6 text=0099CC>
<font face="trebuchet ms">
<table width="100%" cellspacing="0" class="outer">
<tr>
<td class="foot" style="font-weight:normal;" align="right"><marquee>Se deseja publicar alguma história como esta, envie por E-mail para: xoops@underpop.com</marquee></td>
</tr>
</table>
<table width="100%" cellspacing="0" class="outer">
<tr>
<td class="foot" style="font-weight:normal;" align="right"><span class="itemPoster"><{$imp_copyright}></span></td>
</tr>
</table>
<br>